#  -------------------------------------------------------------------------
#  Copyright (C) 2020 BMW AG
#  -------------------------------------------------------------------------
#  This Source Code Form is subject to the terms of the Mozilla Public
#  License, v. 2.0. If a copy of the MPL was not distributed with this
#  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#  -------------------------------------------------------------------------


alabaster==0.7.12
appdirs==1.4.4
Babel==2.8.0
breathe==4.18.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cmake==3.13.1
cryptography==3.3.2
distlib==0.3.1
docutils==0.16
filelock==3.0.12
flake8==3.8.4
flake8-quotes==3.2.0
gitdb2==2.0.3
github3.py==1.3.0
GitPython==2.1.8
idna==2.10
imagesize==1.2.0
importlib-metadata==2.1.1
importlib-resources==5.1.0
Jinja2==2.11.3
jsonschema==3.2.0
jwcrypto==0.8
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.4
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4
requests==2.24.0
six==1.15.0
smmap2==2.0.3
snowballstemmer==2.0.0
Sphinx==3.0.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
tox==3.20.1
uritemplate==3.0.1
urllib3==1.25.10
virtualenv==20.4.0
zipp==3.4.0

